@model List<ReportDashboardWEBUI.Dtos.DbTableDto.ResultDbTableDto>
@{
    ViewData["Title"] = "ConnectionList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bağlantı Listesi</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Server Name</th>
                            <th>DBMS Name</th>
                            <th>Database</th>
                            <th>User Name</th>
                            <th>Password</th>
                            <th>Test Et</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                        <tr>
                            <td>@item.DbTable_ServerName</td>
                            <td>@item.DBMS_Name</td>
                            <td>@item.DbTable_Database</td>
                            <td>@item.DbTable_UserName</td>
                            <td>@item.DbTable_Password</td>
                            <td> <button type="button" class="btn btn-outline-info btn-fw">Test Et</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>